.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.item {
    margin: 8px;
}

.projects {
    /*max-width: 200px;*/
}

.main-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-bottom: 8px;
}

.add-container {
    display: flex;
    flex-direction: column;
}

.add-container > *, .fill-width {
    width: 100%;
}

.buttons {
    float: right;
}