<div class="main-container">
    <div *ngIf="isSelecting; then selection else adding_form"></div>

    <ng-template #selection>
        <div class="row">
            <mat-form-field class="fill-width">
                <mat-select class="item projects" required placeholder="Active project" (ngModelChange)="changeCurrent($event)" [(ngModel)]="current">
                    <mat-option *ngFor="let item of all; let i = index" [value]="i">{{item.name}} ({{item.id}})</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="item" mat-icon-button (click)="addProject()">
                <mat-icon svgIcon="plus" title="Add project"></mat-icon>
            </button>
            <button class="item" mat-icon-button *ngIf="all.length !== 0" (click)="editProject()">
                <mat-icon svgIcon="pencil" title="Edit active project"></mat-icon>
            </button>
            <button class="item" mat-icon-button *ngIf="all.length !== 0" (click)="deleteProject()">
                <mat-icon svgIcon="minus" title="Remove project"></mat-icon>
            </button>
        </div>
        <div class="row">
            <mat-form-field class="fill-width">
                <input matInput #inputApi required placeholder="Launcher-API base url" type="text" [value]="api">
            </mat-form-field>
            <button class="item" mat-icon-button [disabled]="api === inputApi.value" (click)="saveApi(inputApi.value)">
                <mat-icon svgIcon="content-save" title="Save"></mat-icon>
            </button>
        </div>
    </ng-template>

    <ng-template #adding_form>
        <form class="add-container" [formGroup]="form" (ngSubmit)="submitProject(form.value)">
            <mat-form-field>
                <input matInput required placeholder="Name" formControlName="name">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput required placeholder="ID" formControlName="id">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput required placeholder="API key" formControlName="key">
            </mat-form-field>
            <div>
                <div class="buttons">
                    <button type="submit" mat-button color="primary" [disabled]="!form.valid">{{ state }}</button>
                    <button mat-button (click)="cancelAdding()">Cancel</button>
                </div>
            </div>
        </form>
    </ng-template>
</div>