<div *ngIf="isLoading; then loader else content"></div>

<ng-template #loader>
    <div class="spinner">
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</ng-template>

<ng-template #content>
    <mat-card>
        <table class="table">
            <tr class="header">
                <td>ID</td>
                <td>Name</td>
                <td>Secret key</td>
                <td></td>
            </tr>
            <tr *ngFor="let el of rows; let i = index" class="row">
                <td>{{el.id}}</td>
                <td>{{el.name}}</td>
                <td>{{el.secret_key}}</td>
                <td class="action">
                    <button (click)="edit(i)" class="clickable" mat-icon-button [disabled]="isEditing()">
                        <mat-icon color="primary" svgIcon="pencil"></mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card>
    <mat-card>
        <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <mat-form-field>
                <input matInput #id [readonly]="true" placeholder="ID" formControlName="id" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput #name [readonly]="isEditing()" required placeholder="Name" formControlName="name"
                       type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput #secret_key required placeholder="Secret key" formControlName="secret_key" type="text">
            </mat-form-field>

            <div>
                <button mat-button class="submit-btn" type="submit" [disabled]="!form.valid">{{status}}</button>
                <button mat-button *ngIf="status === 'Edit'" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card>
</ng-template>