<h2 mat-dialog-title>Confirm</h2>
<div mat-dialog-content>{{data.confirmMessage}}</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">No</button>
    <button mat-button [mat-dialog-close]="true">Yes</button>
</div>