<label (drop)="drop($event)"
       (dragover)="drag($event)" (dragenter)="drag($event)"
       (dragleave)="dragleave($event)" (dragend)="dragleave($event)"
       [ngClass]="{'container': true, 'dragover': isDropping, 'active': !isLoading}">
    <div *ngIf="isLoading; then loading else default"></div>

    <ng-template #loading>
        <div class="info">
            <span class="text">Uploading to {{uploadMode === 'determinate' ? 'node' : 'ftp'}} server</span>
            <mat-progress-bar [ngClass]="{spinner: uploadMode === 'determinate'}" mode="{{ uploadMode }}"
                              value="{{ upload }}"></mat-progress-bar>
        </div>
    </ng-template>

    <ng-template #default>
        <div class="info">
            <mat-icon svgIcon="cloud-upload"></mat-icon>
            Drop or select file<br/>
            for uploading to the server
        </div>
    </ng-template>
    <input type="file" (change)="onChange($event)" [disabled]="isLoading">
</label>