input[type="file"] {
    display: none;
}

.container {
    border-width: 1px;
    border-style: solid;
    border-color: #3f51b5;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 2px;
}

.container:hover {
    background: white;
}

.active {
    background: transparent;
    cursor: pointer;
}

.dragover {
    border-style: dashed;
    cursor: copy;
    background: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 100%;
}

.text {
    margin-bottom: 8px;
}