.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.info {
    color: rgba(0,0,0,.54);
    line-height: 24px;
    font-weight: bold;
}

.icon {
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px;
}

.icon mat-icon {
    position: absolute;
    top: 5px;
}

:host {
    flex: 1;
}