<div class="wrapper">
    <h3>API actions</h3>
    <project></project>
    <app-tables *ngIf="hasApi && hasProject"></app-tables>
    <div *ngIf="!hasApi || !hasProject" class="info">
        <div class="icon"><mat-icon svgIcon="alert"></mat-icon></div>
        Fill all information above to be able performing actions with builds, stages and releases
    </div>
</div>