<h2>Ftp connection</h2>
<form class="form" [formGroup]="form" (ngSubmit)="auth(form.value)">
    <mat-form-field>
        <input matInput #server required placeholder="Server" formControlName="server" type="text">
    </mat-form-field>

    <mat-form-field>
        <input matInput #login required placeholder="Login" formControlName="login" type="text">
    </mat-form-field>

    <mat-form-field>
        <input matInput #pass required placeholder="Password" formControlName="pass" type="text">
    </mat-form-field>

    <button mat-button type="submit">Connect</button>
</form>