.container {
    display: flex;
    flex-direction: column;
}

.relative {
    position: relative;
}

.list {
    margin: 8px 0;
}

.spinner {
    display: flex;
    justify-content: center;
}

.base {
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    color: #3f51b5;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: default;
}

.header {
    display: flex;
    justify-content: space-between;
}

.file {
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    min-width: 0;
}

.curdir {
    color: rgba(0, 0, 0, 0.54);
}

.icon {
    min-width: 26px;
    margin-right: 0 !important;
}

.text {
    overflow: hidden;
}

.active {
    cursor: pointer;
}