<div class="container">
    <app-uploader [currentDir]="currentDir"></app-uploader>
    <mat-card class="list">
        <div *ngIf="refreshing; then loader else content"></div>

        <ng-template #loader>
            <div class="spinner">
                <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </ng-template>

        <ng-template #content>
            <div class="header">
                <div class="curdir text">{{currentDir}}</div>
                <button mat-icon-button (click)="list()" [title]="'Refresh file list'">
                    <mat-icon svgIcon="refresh" class="icon"></mat-icon>
                </button>
            </div>
            <div *ngIf="currentDir !== '/'" class="mat-option item active"
                 (click)="onDblClick({type: 'd', name: '..'})">..
            </div>
            <div *ngFor="let item of items | filter : 'd'" class="mat-option item center active"
                 (click)="onDblClick(item)">
                <mat-icon color="primary" svgIcon="{{ item.type === 'd' ? 'folder' : 'file' }}"
                          class="icon center"></mat-icon>
                {{ item.name }}
            </div>
            <div *ngFor="let item of items | filter : '-'" class="mat-option item file">
                <div class="center text">
                    <mat-icon color="primary" svgIcon="{{ item.type === 'd' ? 'folder' : 'file' }}"
                              class="center icon"></mat-icon>
                    <a href="{{ item.href }}" download class="center">
                        {{ item.name }}
                    </a>
                </div>
                <mat-icon color="primary" svgIcon="content-copy" class="center icon active" title="Copy CDN link"
                          (click)="copyToClipboard(item)"></mat-icon>
            </div>
        </ng-template>
    </mat-card>
</div>