.wrapper {
    padding: 32px;
}

.center {
    display: inline-flex;
    align-items: center;
}

.active {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -32px -32px 16px;
    padding: 32px 32px 16px;
    background: #3f51b5;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}