<div class="wrapper">
    <div class="header">
        <h1>Launcher admin client</h1>
        <span *ngIf="connected" class="center active" (click)="onConnect(false)">
            <span style="margin-right: 8px">Disconnect</span>
            <mat-icon svgIcon="logout"></mat-icon>
        </span>
    </div>
    <div class="container">
        <div *ngIf="!connected; then login else content"></div>

        <ng-template #login>
            <login></login>
        </ng-template>

        <ng-template #content>
            <split [direction]="'horizontal'">
                <split-area>
                    <ftp (onConnectEmitter)="onConnect($event)"></ftp>
                </split-area>
                <split-area>
                    <api></api>
                </split-area>
            </split>
        </ng-template>
    </div>
</div>