<div *ngIf="isLoading; then loader else content"></div>

<ng-template #loader>
    <div class="spinner">
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</ng-template>

<ng-template #content>
    <mat-card>
        <table class="table">
            <tr class="header">
                <td>ID</td>
                <td>Version</td>
                <td>Build number</td>
                <td>Architecture</td>
                <td>File name</td>
                <td>Installer file name</td>
                <td></td>
            </tr>
            <tr *ngFor="let el of rows; let i = index" class="row">
                <td>{{el.id}}</td>
                <td>{{el.version}}</td>
                <td>{{el.build_number}}</td>
                <td>{{el.architecture}}</td>
                <td>{{el.file_name}}</td>
                <td>{{el.installer_file_name}}</td>
                <td class="action">
                    <button (click)="edit(i)" class="clickable" mat-icon-button [disabled]="isEditing()">
                        <mat-icon color="primary" svgIcon="pencil"></mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <div *ngIf="!isLoading;then text else spinner"></div>
        <ng-template #spinner>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
        <ng-template #text>
            <button *ngIf="canLoadMore()" (click)="loadPage()" mat-button [disabled]="isEditing()">
                Load more
            </button>
        </ng-template>
    </mat-card>
    <mat-card>
        <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <mat-form-field>
                <input matInput #id [readonly]="true" placeholder="ID" formControlName="id" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput #version [readonly]="isEditing()" required placeholder="Version" formControlName="version"
                       type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput #build_number [readonly]="isEditing()" required placeholder="Build number"
                       formControlName="build_number" type="number">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Architecture" formControlName="architecture">
                    <mat-option value="x86">x86</mat-option>
                    <mat-option value="x64">x64</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput #file_name required placeholder="File name" formControlName="file_name" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput #installer_file_name required placeholder="Installer file name"
                       formControlName="installer_file_name" type="text">
            </mat-form-field>

            <div>
                <button mat-button class="submit-btn" type="submit" [disabled]="!form.valid">{{status}}</button>
                <button mat-button *ngIf="status === 'Edit'" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card>
</ng-template>