<mat-tab-group>
    <mat-tab label="Stages">
        <app-stages [setBaseUrl]="baseUrl"></app-stages>
    </mat-tab>
    <mat-tab label="Builds">
        <app-builds [setBaseUrl]="baseUrl"></app-builds>
    </mat-tab>
    <mat-tab label="Releases">
        <app-releases [setBaseUrl]="baseUrl"></app-releases>
    </mat-tab>
</mat-tab-group>