.clickable {
    cursor: pointer;
}

mat-card {
    margin: 8px;
    overflow-y: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.table td {
    padding: 0 8px;
}

.header {
    height: 40px;
    color: rgba(0, 0, 0, 0.54);
}

.action {
    width: 40px;
}

.row:hover {
    background: rgba(0, 0, 0, 0.04);
}