<div *ngIf="isLoading; then loader else content"></div>

<ng-template #loader>
    <div class="spinner">
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</ng-template>

<ng-template #content>
    <mat-card>
        <mat-form-field>
            <mat-select placeholder="Architecture" [disabled]="status === 'Edit'" (selectionChange)="paramsChanged()" [(ngModel)]="arch">
                <mat-option value="x86">x86</mat-option>
                <mat-option value="x64">x64</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Stage" [disabled]="status === 'Edit'" (selectionChange)="paramsChanged()" [(ngModel)]="stage">
                <mat-option *ngFor="let item of stages" [value]="item.name">{{ item.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <table class="table">
            <tr class="header">
                <td>ID</td>
                <td>Build</td>
                <td>Stage</td>
                <td></td>
            </tr>
            <tr *ngFor="let el of rows; let i = index" class="row">
                <td>{{el.id}}</td>
                <td>{{el.build_version}}</td>
                <td>{{el.stage}}</td>
                <td class="action">
                    <button (click)="delete(i)" class="clickable" mat-icon-button>
                        <mat-icon color="primary" svgIcon="delete"></mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card>
    <mat-card>
        <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <mat-form-field>
                <mat-select formControlName="build_id" placeholder="Build">
                    <mat-option *ngFor="let item of builds" [value]="item.id">{{ item.version }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="stage" placeholder="Stage">
                    <mat-option *ngFor="let item of stages" [value]="item.name">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-button class="submit-btn" type="submit" [disabled]="!form.valid">{{status}}</button>
                <button mat-button *ngIf="status === 'Edit'" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </mat-card>
</ng-template>