/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button.mat-menu-item {
    line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
}

.mat-icon svg {
    height: 24px;
    width: 24px;
}

split-gutter {
    height: unset !important;
}

body {
    margin: 0;
    background: #fafafa;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.error-message {
    background: #f44336;
}

.error-message .mat-simple-snackbar-action {
    color: white;
}

h2, h3 {
    color: rgba(0,0,0,.54);
    font-weight: normal;
}